@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background: linear-gradient(#fff2dd, #fff5df, #fff3dd);
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  overflow-x: hidden;
  scrollbar-color: rgba(48, 48, 48, 0.252) #fff3dd;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  animation: transitionIn 0.4s;
}

h1, h2, h3, p, span, li {
  font-family: "Nunito", sans-serif;
  color: #353535;
}

h1, span {
  text-shadow: 0.2vw 0.2vw #767676;
}

img {
  pointer-events: none;
}

a {
  color: #1630a2;
}

footer {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: end;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  image-rendering: pixelated;
}

footer div {
  height: 5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcdfaf;
  box-shadow: rgba(17, 12, 46, 0.15) 0 -2vw -4vw;
}

footer div p {
  font-size: 1.4vw;
}

footer ul {
  position: absolute;
  right: 0;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

footer ul li svg {
  height: 2.5vw;
  fill: #a5581c;
  transition: transform 0.3s ease;
}
footer ul li svg:hover {
  transform: scale(1.2);
}

nav {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  width: 99%;
  height: 4vw;
  margin-left: auto;
  margin-right: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

.sections {
  width: 60%;
}

.section-title {
  font-size: 6vw;
}

.context {
  font-size: 1.4vw;
  margin: 0 0 0 0.6vw;
  padding: 0;
}

.blurb-me {
  font-size: 1.5vw;
  width: 50vw;
}

.about {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.introduction {
  font-size: 4vw;
  width: 50vw;
  height: 4vw;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  text-shadow: 0.13vw 0.13vw #767676;
}

.float-wrapper {
  transition: transform 0.3s ease;
}
.float-wrapper:hover {
  transform: scale(1.15);
}

.photocard {
  height: 19vw;
  width: 26vw;
  border: 0.7vw solid hsl(0, 0%, 98%);
  pointer-events: all;
  box-shadow: rgba(17, 12, 46, 0.15) 0 0.5vw 1vw;
  transition: 0.3s;
  animation: drift 10s ease-in-out infinite;
}
.photocard:hover {
  box-shadow: rgba(139, 139, 146, 0.25) 0.1vw 0.3vw 0.5vw;
}

.nav {
  position: absolute;
  text-decoration: none;
  color: #2c2c2c;
  font-family: "Nunito", sans-serif;
  font-size: 1.3vw;
  transition: 0.2s;
}
.nav:hover {
  color: #4c4b4b;
  transform: translateY(-0.1vw);
}

#nav-list {
  z-index: 1;
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin-left: auto;
  margin-right: 3%;
}

#home-footer {
  background-image: url("../../assets/webfooter.png");
  min-height: 38vw;
  filter: drop-shadow(rgba(50, 50, 93, 0.25) 1vw 2vw 5vw);
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
@keyframes drift {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(0.1vw, -0.2vw) rotate(-0.2deg);
  }
  20% {
    transform: translate(0.25vw, -0.1vw) rotate(0.5deg);
  }
  30% {
    transform: translate(0.25vw, 0.2vw) rotate(-0.7deg);
  }
  40% {
    transform: translate(-0.4vw, 0.35vw) rotate(1deg);
  }
  50% {
    transform: translate(-0.1vw, -0.3vw) rotate(-0.5deg);
  }
  60% {
    transform: translate(0.3vw, -0.2vw) rotate(0.3deg);
  }
  70% {
    transform: translate(0.2vw, 0.5vw) rotate(-0.8deg);
  }
  80% {
    transform: translate(-0.35vw, 0.1vw) rotate(0.6deg);
  }
  90% {
    transform: translate(-0.1vw, -0.2vw) rotate(-0.4deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@media screen and (max-width: 968px) {
  footer ul {
    width: 25%;
  }
  .nav {
    font-size: 1.6vw;
  }
  #nav-list {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  footer div {
    height: 8vw;
  }
  footer div p {
    font-size: 1.8vw;
  }
}/*# sourceMappingURL=styles.css.map */