#home {
    position: relative;
    width: 100%;
    height: 110vh;
    padding-top: 6vh;
}

#room {
    z-index: 0;
    position: absolute;
    background-blend-mode: screen, difference, lighten;
    border-radius: 100%;
    width: 46%;
}

#cn-wrapper {
    position: absolute;
    margin-left: 6%;
    margin-top: 21%;
}

#eng-wrapper {
    position: absolute;
    margin-left: 70%;
    margin-top: 6%;
}

#eng-wrapper span {
    font-weight: 700;
    font-size: 8vw;
    line-height: 7vw;
    display: inline-block;
    animation: waveAnim 1.5s;
    animation-delay: calc(.1s * var(--name));
}

#cn-wrapper span {
    font-weight: 700;
    font-size: 8vw;
    display: inline-block;
    animation: waveAnim 2s;
    animation-delay: calc(.1s * var(--name));
}

@keyframes waveAnim {
    0%, 40%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(1.5vw);
    }
}

@media screen and (max-width: 1068px) {
    #home {
        height: 90vh;
    }
}

@media screen and (max-width: 968px) {
    #home {
        height: 80vh;
    }

    #room {
        width: 67%;
        padding-top: 50vh;
    }
}

@media screen and (max-width: 690px) {
    #room {
        width: 76%;
        padding-top: 40%;
    }

    #home {
        height: 70vh;
    }
}

@media screen and (max-width: 590px) {
    #home {
        height: 55vh;
    }
}

@media screen and (max-width: 455px) {
    #home {
        height: 45vh;
    }
}