$font: "Nunito", sans-serif;
$font1: "myriad-pro", sans-serif;
$font2: 'Ysabeau Infant', sans-serif;

#home {
    position: relative;
    width: 100%;
    height: 110vh;
    padding-top: 10vh;
}

#room {
    z-index: 0;
    position: absolute;
    box-shadow: 0 0 20px 20px #fff2dd inset;
}

#name-eng {
    z-index: 0;
    position: absolute;
    width: 20%;
    font-size: 6vw;
    margin-left: 68%;
    margin-top: 8%;
    line-height: 5.5vw;
}

#name-cn {
    z-index: 0;
    position: relative;
    font-size: 8vw;
    margin-left: 10%;
    margin-top: 21%;
}

@media screen and (max-width: 1130px) {
    #images {
        display: none;
    }

    #schools {
        margin-top: 90px;
    }

    .schools {
        left: -80px;
    }
}

@media screen and (max-width: 1070px) {
    #info {
        height: 20vh;
    }

    #sign-up {
        width: 85vw;
    }

    .emphasis, .info-paragraph {
        font-size: 2vw;
    }
}

@media screen and (max-width: 970px) {
    .emphasis, .info-paragraph {
        font-size: 2.3vw;
    }

    .schools {
        left: -60px;
    }
}

@media screen and (max-width: 840px) {
    #info {
        padding: 10px;
        height: 150px;
        font-size: 1.2vw;
    }

    .schools {
        left: -40px;
    }
}

@media screen and (max-width: 680px) {
    #Layer_1 {
        width: 450px;
    }

    #sign-up {
        width: 75vw;
    }

    #sign-up li {
        width: 60vw;
        line-height: 25px;
    }

    .schools {
        font-size: 2.4vw;
    }

    .emphasis, .info-paragraph {
        font-size: 2.8vw;
    }

    #body-info {
        left: 20px;
    }

    #schools, #about {
        left: 80px;
    }
}

@media screen and (max-width: 560px) {
    .schools {
        left: -50px;
        font-size: 2.8vw;
    }

    .emphasis, .info-paragraph {
        font-size: 3vw;
    }

    #info {
        display: none;
    }

    #Layer_1 {
        width: 350px;
    }

    #schools {
        margin-top: 50px;
    }

    #about {
        width: 80%;
    }

    #schools, #about {
        font-size: 4.5vw;
    }

    #sign-up {
        left: 40px;
    }

    #schools {
        text-shadow: 2px 2px #00000032 !important;
    }
}

@media screen and (max-width: 500px) {
    .schools {
        font-size: 3.2vw;
        left: -80px;
    }

    #schools, #about {
        font-size: 5vw;
        left: 40px;
    }

    .emphasis, .info-paragraph {
        font-size: 3.3vw;
    }

    #body-info {
        left: -20px;
    }
}

@media screen and (max-width: 440px) {
    .schools {
        font-size: 3.5vw;
    }

    #schools, #about {
        font-size: 5vw;
    }

    .emphasis, .info-paragraph {
        font-size: 3.6vw;
    }

    #sign-up {
        width: 80vw;
    }
}

@media screen and (max-width: 390px) {
    #Layer_1 {
        width: 250px;
    }

    .schools {
        font-size: 4vw;
        left: -50px;
    }

    #schools, #about {
        font-size: 6vw;
    }

    .emphasis, .info-paragraph {
        font-size: 4vw;
    }
}