#us {
    position: absolute;
    margin-top: 5vw;
    margin-left: 68%;
    box-shadow: rgba(50, 50, 93, 0.25) 3vw 5.5vw 11vw 1vw;
    transition: 0.3s;
    &:hover {
        box-shadow: rgba(139, 139, 146, 0.25) 0.2vw .3vw 1vw;
    }
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2vw;
    height: 25vw;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation: slide 15s linear infinite;
    width: max-content;  
    &:hover {
        animation-play-state: paused;
    }
}

.carousel-track img {
    margin: 1vw;
    flex-shrink: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 968px) {
    #us {
        position: relative;
        margin: 13vw 0;
        width: 80%;
        height: 47vw;
    }

    .carousel-container {
        height: 40vw;
    }
}

@media screen and (max-width: 768px) {
    #us {
        position: relative;
        margin-top: 33vw;
        margin-bottom: 13vw;
        width: 90%;
        height: 52vw;
    }

    .carousel-container {
        height: 40vw;
    }
}